# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shadow_realms

# Backend
SECRET_KEY=your-secret-key-here
PUBLIC_SITE_URL=http://localhost

# MinIO / S3
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=shadow-realms

# Третий API 
DND_API_BASE=https://www.dnd5eapi.co/api/2014

# Hugging Face (генерация изображений FLUX.1-schnell)
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxx